body {
    font-family:  Arial;
    background: #f4f6ff;
    text-align: center;
}

input{
    padding: 10px;
    width: 200px;
}

button{
    padding: 10px;
    cursor: pointer;
}

.task{
    background:white;
    margin: auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.done {
    text-decoration: line-through;
    color: gray;
}